
body {
    background:
    linear-gradient(
      rgba(210, 0, 255, 0.3), 
      rgba(0, 230, 0, 0.3)
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

.appBar{
    border-radius: 15;
    display: flex;
    margin: 30px 100px;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: 600px;
    border: 2px solid black;

    
  }

   .wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 100%;
    margin:auto;
  }
